.loginImage {
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/world-map-paint-drop-michael-tompsett.jpg");
    background-color: #cccccc;
    margin-left: 0% !important;
}

.headerFont {
    font-size: 20px;
    font-family: Cursive;
}

