* { 
    margin: 0!important;
    padding: 0!important; 
}

.headerFont {
    font-size: 20px;
    font-family: Cursive;
}

.loginPage {
    background-color: skyblue;
    height: 100vh !important;
}

.loginForm {
    height: 100vh;
}

.worldMap {
    object-fit:fill;
    background-size: auto !important;
}

.logOutBtn {
    background-color: skyblue !important;
    color: white;
    padding: .5rem !important;
    margin: .5rem !important;
}

.logOutCon {
    display: flex !important;
    justify-content: space-evenly !important;
}
